<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT blogListing ANY>
<!ATTLIST blogListing id ID #REQUIRED>
]>
<root id="-1">
  <home id="1068" key="f4021789-d3f1-4c7a-b984-c2b9c91c9702" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-10-27T11:16:24" updateDate="2019-10-27T11:16:24" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1067" creatorName="Myles Broomes" writerName="Myles Broomes" writerID="0" template="1066" nodeTypeAlias="home" isPublished="true">
    <description><![CDATA[<p>This is the homepage</p>]]></description>
    <heading><![CDATA[Home]]></heading>
    <blogListing id="1069" key="a1d0f26c-89af-4291-999d-c6851a003d6f" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2019-10-27T11:18:09" updateDate="2019-10-27T11:52:34" nodeName="Listing Name" urlName="listing-name" path="-1,1068,1069" isDoc="" nodeType="1064" creatorName="Myles Broomes" writerName="Myles Broomes" writerID="0" template="1063" nodeTypeAlias="blogListing" isPublished="true">
      <description><![CDATA[<p>These are where all blog item's of the listing 1 category live</p>]]></description>
      <blogItem id="1070" key="3cb824be-00c5-4f56-9440-e037616ccdf5" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2019-10-27T11:18:58" updateDate="2019-10-27T11:18:58" nodeName="Blog item 1" urlName="blog-item-1" path="-1,1068,1069,1070" isDoc="" nodeType="1062" creatorName="Myles Broomes" writerName="Myles Broomes" writerID="0" template="1061" nodeTypeAlias="blogItem" isPublished="true">
        <blogItemTitle><![CDATA[Blog item 1]]></blogItemTitle>
      </blogItem>
      <blogItem id="1071" key="3108c14e-e745-4115-a5bc-1f78ed147884" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2019-10-27T11:19:21" updateDate="2019-10-27T11:19:23" nodeName="Blog item 2" urlName="blog-item-2" path="-1,1068,1069,1071" isDoc="" nodeType="1062" creatorName="Myles Broomes" writerName="Myles Broomes" writerID="0" template="1061" nodeTypeAlias="blogItem" isPublished="true">
        <blogItemTitle><![CDATA[Blog item 1]]></blogItemTitle>
      </blogItem>
    </blogListing>
  </home>
</root>